<!DOCTYPE html>
<html lang="pl">
  <!--HEAD--><!DOCTYPE html>
  <!-- HEAD-->
  <head>
    <title>Multipage eCommerce Organica</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/src/scss/bootstrap-grid.css">
    <link rel="stylesheet" href="/assets/css/main.min.css">
  </head>
  <body>
    <div id="app">
      <!--HEADER-->
      <!--Preload-->
      <div class="preload" data-preaload="">
        <div class="preload__content"> 
          <div class="cube" v-for="(cube,index) in cubeArrayOfObjct" :key="index"></div>
        </div>
      </div>
      <!--Header-->
      <header class="header">  
        <div class="container"> 
          <div class="row"> 
            <div class="col-12 col-lg-12"> 
              <div class="header__content"> 
                <div class="header__logo"></div><span> {{headerTitle}}
                  <div class="menu"><img src="src/img/blog-1.jpg"><img :src="headerImg">
                    <pre>{{headerImg}}</pre><a class="menu__item" v-for="(item, index) in menuArrayOfObjects" :href="item.link" :key="index">{{item.name}}</a>
                  </div></span>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!--SLIDER-->
      <!--CONTENT-->
      <!--FOOTER-->
      <script src="/src/js/main.js"></script>
      <script></script>
    </div>
  </body>
</html>