//Preload
.preload(data-preaload='')
    .preload__content 
              .cube(v-for="(cube,index) in cubeArrayOfObjct" :key="index")
                


//Header
header.header   
  .container 
    .row 
      .col-12.col-lg-12 
        .header__content 
            .header__logo
            span  {{headerTitle}}
              .menu
                img(src='src/img/blog-1.jpg')
                img(:src='headerImg')
                pre {{headerImg}}
                a.menu__item(v-for="(item, index) in menuArrayOfObjects" :href="item.link" :key="index") {{item.name}}
                   